<style>
   {%include 'bootstrap.min.css' %}
</style>

<table class='table table-bordered table-hover'>
  <tr>
  {% for column in ['电影名字'] + headers %}
    <th>{{ column }}</th>
  {% endfor %}
  </tr>

  {% for rows in rows_data %}
    <tr>
    <td>电影{{loop.index}}</td>
    {% for row in rows %}
      <td>{{ row }}</td>
    {% endfor %}
    </tr>
  {% endfor %} 
</table>